<template>
  <chat>
    <conversation>
      <message-line v-for="message in messages">
        <message :class="message.from">{{message.txt}}</message>
      </message-line>
    </conversation>
    <texting>
      <input v-model="txt" v-on:keyup.enter="send(txt)" placeholder="Say something" type="text">
      <input type="button" v-on:click="send(txt)"  value="Send">
    </texting>
  </chat>
</template>

<script>
  export default {
    data () {
      return {
        txt: '',
        messages: []
      }
    },
    mounted: function(){
      this.init();
    },
    methods:{
      init:function(){
         let message = {from:'',txt:'Tell me something'};
         this.messages.push(message);
         this.ping();
      },
      send:function(txt){
        let message = {from:'me',txt:txt};
        this.messages.push(message);

        setTimeout(()=>{
          let answer = {from:'',txt:'Lorem ipsum dolor sit amet...'};
          this.messages.push(answer);
        }, 1500);
      },
      ping:function(){
        // exemple of getting messages in API with conversations params
        setInterval(()=>{
         //console.log('get messages');
        }, 500);
      }
    }
  }
</script>

<style>
  /* Start Chat TAG */
  chat{
    position:relative;
    display:inline-block;
    box-shadow: 2px 2px 5px black;
    width:100%;
    height:360px;
    background-color:#eee;
    border: 1px solid #fff;
  }
  /* End Chat TAG */

  /* Start Conversation TAG */
  conversation{
    display:block;
    width:100%;
    height:310px;
    overflow:auto;
    background-color:#eee;
  }
  /* End Conversation TAG */

  /* Start Texting TAG */
  texting{
    display:block;
    text-align:center;
    padding:10px;
  }
  /* End Texting TAG */

  /* Start message TAG */
  message-line{
    position:relative;
    display:block;
    width:100%;
    min-height:40px;
  }

  message{
    display:block;
    float:left;
    max-width:80%;
    padding:5px 10px;
    margin:5px;
    color:#fff;
    background-color:#00c6da;
    border-radius:10px;
  }

  message.me{
    float:right;
    background-color:white;
    background-color:#ee591f;
  }
  /* End message TAG */


</style>
