<template>
  <v-container fluid>
    <v-card-text>
      <v-text>Built-in Variables</v-text>
    </v-card-text>
    <v-spacer></v-spacer>
    <v-toolbar color="white" light dense>
       <v-spacer></v-spacer>
       <v-text-field
         append-icon="search"
         label="Search"
         single-line
         hide-details
         v-model="search"
       ></v-text-field>
     </v-toolbar>
    <v-data-table
        v-bind:headers="headers"
        v-bind:search="search"
        :items="items"
        class="elevation-1"
      >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.name }}</td>
        <td class="text-xs-left">{{ props.item.description }}</td>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
  import axios from 'axios'
  import config from '../../config'
  export default {
    data () {
      return {
        search: '',
        headers: [
          {text: 'Variable', value: 'variable', align: 'left'},
          {text: 'Description', value: 'description', align: 'left'}
        ],
        items: []
      }
    },
    created () {
      axios({method: 'GET',
        'url': config.variableBuiltInURI,
        data: {},
        headers: {
          'Authorization': 'Bearer ' + config.variableAccessToken,
          'Content-type': 'application/json'
        }
      }).then(response => {
        this.items = response.data
        this.items.push({description: 'messagebody', name: 'messagebody'})
      }).catch(error => {
        console.log(error)
        console.log(error.response)
      })
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
