<template>
  <v-container fluid>
    <h1 class="title">User-defined Variables</h1>
    <v-card-text>

    </v-card-text>
    <v-spacer></v-spacer>
    <v-toolbar color="white" light dense>
      <v-btn icon @click.stop="dialog = true">
        <v-icon>add</v-icon>
      </v-btn>
       <v-spacer></v-spacer>
       <v-text-field
         append-icon="search"
         label="Search"
         single-line
         hide-details
         v-model="search"
       ></v-text-field>
     </v-toolbar>
    <v-data-table
        v-bind:headers="headers"
        v-bind:search="search"
        :items="variableitem.variables"
        hide-actions
        class="elevation-1"
      >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.name }}</td>
        <td class="text-xs-left">
          <v-edit-dialog
              :return-value.sync="props.item.value"
              large
              lazy
              persistent
              @save="postPost"
            >
              <div>{{ props.item.value }}</div>
              <div slot="input" class="mt-3 title">Update Value</div>
              <v-text-field
                slot="input"
                label="Edit"
                v-model="props.item.value"
                single-line
                counter
                autofocus
              ></v-text-field>
            </v-edit-dialog>
        </td>
        <td>
          <v-btn icon ripple v-on:click="deleteUserResponse(props.item.index)">
            <v-icon color="grey lighten-1">delete</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>

    <v-dialog v-model="dialog" max-width="500px">
        <v-toolbar dark color="info">
           <v-btn icon @click.native="dialog = false" dark>
             <v-icon>close</v-icon>
           </v-btn>
           <v-toolbar-title>Add Variable</v-toolbar-title>
           <v-spacer></v-spacer>
         </v-toolbar>
         <v-card ref="form">
           <v-card-title>

           </v-card-title>
           <v-card-text>
             <v-text-field
                  label="Variable name"
                  value="Grocery delivery"
                  v-model="name"
                  ref="name"
                  :rules="[() => !!name || 'This field is required']"
                  :error-messages="errorMessages">
              </v-text-field>
           </v-card-text>
           <v-card-text>
              <v-text-field
                label="Value"
                v-model="value"
                ref="value"
                :rules="[() => !!value || 'This field is required']">
               </v-text-field>
            </v-card-text>
         <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="info" @click="submit" >Save</v-btn>
            <v-btn color="error" @click="reset">Close</v-btn>
         </v-card-actions>
         </v-card>
       </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios'
import config from '../../config'

export default {
  data () {
    return {
      max25chars: (v) => v.length <= 25 || 'Input too long!',
      tmp: '',
      response: '',
      search: '',
      dialog: false,
      errorMessages: [],
      formHasErrors: false,
      name: null,
      value: null,
      description: null,
      headers: [
        {text: 'Variable', value: 'name', align: 'left'},
        {text: 'Value', value: 'value', align: 'left'},
        {text: 'Delete', value: 'delete', align: 'left', sortable: false}
      ],
      variableitem: {
        variables: []
      }
    }
  },
  computed: {
    form () {
      return {
        name: this.name,
        value: this.value
      }
    }
  },
  watch: {
    name () {
      this.errorMessages = []
    }
  },
  methods: {
    submit () {
      this.formHasErrors = false
      Object.keys(this.form).forEach(f => {
        if (!this.form[f]) this.formHasErrors = true
        this.$refs[f].validate(true)
      })
      if (!this.formHasErrors) {
        this.variableitem.variables.push({name: this.name, value: this.value})
        this.postPost()
        this.reset()
      }
    },
    reset () {
      this.errorMessages = []
      this.formHasErrors = false

      Object.keys(this.form).forEach(f => {
        this.$refs[f].reset()
      })
      this.dialog = false
    },
    postPost () {
      console.log(this.variableitem)
      console.log(JSON.parse(JSON.stringify(this.variableitem)))
      axios.post(config.variableURI,
        JSON.parse(JSON.stringify(this.variableitem)),
        {data: {},
          headers: {
            'Authorization': 'Bearer ' + config.variableAccessToken,
            'Content-type': 'application/json'
          }}
      )
      .then(response => {})
      .catch(error => {
        console.log(error)
        console.log(error.response)
      })
    },
    deleteUserResponse: function (name) {
      this.variableitem.variables.splice(name, 1)
    }
  },
  mounted () {
    axios({method: 'GET',
      'url': config.variableURI,
      data: {},
      headers: {
        'Authorization': 'Bearer ' + config.variableAccessToken,
        'Content-type': 'application/json'
      }
    }).then(response => {
      this.variableitem.variables = response.data
    }).catch(error => {
      console.log(error)
      console.log(error.response)
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
