<template>
  <v-container fluid>
    <VariableBuiltIn/>
    <VariableUserDefined/>
  </v-container>
</template>

<script>
import VariableBuiltIn from './VariableBuiltIn'
import VariableUserDefined from './VariableUserDefined'

export default {
  name: 'Variable',
  components: {
    VariableBuiltIn,
    VariableUserDefined
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
