<template>
  <v-container fluid>
    <v-spacer></v-spacer>
    <v-toolbar color="white" light dense>
       <v-spacer></v-spacer>
       <v-text-field
         append-icon="search"
         label="Search"
         single-line
         hide-details
         v-model="search"
       ></v-text-field>
       <v-btn color="primary" @click.stop="dialog = true">New Service Template</v-btn>
     </v-toolbar>
    <v-data-table
      v-bind:search="search"
      :headers="headers"
      :items="servicetemplates.servicetemplates"
      hide-actions
      item-key="servicename"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr @click="props.expanded = !props.expanded">
          <td>{{ props.item.servicename }}</td>
        </tr>
      </template>
      <template slot="expand" slot-scope="props">
      <v-card color="grey darken-3" flat>
        <v-card-text>
          <v-container fluid>
            <v-layout row>
              <v-flex xs12>
                <v-text-field
                  name="input-1"
                  v-model="props.item.entryval"
                  textarea
                  dark
                  disabled
                ></v-text-field>
                <v-btn color="primary"
                   v-clipboard:copy="props.item.entryval">Copy to clipboard</v-btn>
                <v-btn color="primary" v-on:click="editService(props.index)">Edit</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        </v-card>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="750px">
        <v-toolbar dark color="info">
           <v-btn icon @click.native="dialog = false" dark>
             <v-icon>close</v-icon>
           </v-btn>
           <v-toolbar-title>Service Template</v-toolbar-title>
           <v-spacer></v-spacer>
         </v-toolbar>
         <v-card ref="form">
           <v-card-title>
             <h1 class="title"></h1>
           </v-card-title>
           <v-card-text>
             <v-text-field
                  label="Service Template Name"
                  value=""
                  v-model="name"
                  ref="name"
                  :rules="[() => !!name || 'This field is required']"
                  :error-messages="errorMessages">
              </v-text-field>
           </v-card-text>
           <v-card-text>
             <v-text-field
               name="input-1"
               v-model="textvalue"
               textarea
             ></v-text-field>
           </v-card-text>
         <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="info" @click="addService()" >Save</v-btn>
            <v-btn color="error" @click="dialog=false">Close</v-btn>
         </v-card-actions>
         </v-card>
       </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios'
import config from '../../config'
import VueClipboard from 'vue-clipboard2'
import Vue from 'vue'

export default {
  data () {
    return {
      max25chars: (v) => v.length <= 25 || 'Input too long!',
      tmp: '',
      response: '',
      search: '',
      dialog: false,
      textvalue: 'The quick brown fox jumps over the lazy dog.',
      errorMessages: [],
      formHasErrors: false,
      name: null,
      value: null,
      isEdit: false,
      description: null,
      currentIndex: 0,
      headers: [
        {text: 'Service Template', value: 'name', align: 'left', sortable: false}
      ],
      subheaders: [
        {text: 'Intents', value: 'name', align: 'left', sortable: false},
        {text: 'Edit', value: 'name', align: 'left', sortable: false}

      ],
      servicetemplates: {
        servicetemplates: []
      }, items: {}
    }
  },
  created () {
    Vue.use(VueClipboard)
    axios({method: 'GET',
      'url': config.servicesURI,
      data: {},
      headers: {
        'Authorization': 'Bearer ' + config.variableAccessToken,
        'Content-type': 'application/json'
      }
    }).then(response => {
      console.log(response.data)
      this.servicetemplates = response.data
    }).catch(error => {
      console.log(error)
      console.log(error.response)
    })

  },
  computed: {
    form () {
      return {
        name: this.name
      }
    }
  },
  watch: {
    name () {
      this.errorMessages = []
    }
  },
  methods: {
    addService: function () {
      if(this.isEdit) {
        this.servicetemplates.servicetemplates.splice(this.currentIndex, 1)
      }
      this.servicetemplates.servicetemplates.push({servicename: this.name, entryval: this.textvalue})
      this.postPost()
      this.edit = false
    },
    editService: function (index) {
      this.isEdit = true
      this.currentIndex = index
      this.name = this.servicetemplates.servicetemplates[index].servicename
      this.textvalue = this.servicetemplates.servicetemplates[index].entryval
      this.dialog = true
    },
    postPost () {
      console.log(JSON.parse(JSON.stringify(this.servicetemplates)))
      axios.post(config.servicesURI,
        JSON.parse(JSON.stringify(this.servicetemplates)),
        {data: {},
          headers: {
            'Authorization': 'Bearer ' + config.variableAccessToken,
            'Content-type': 'application/json'
          }}
      )
      .then(response => {})
      .catch(error => {
        console.log(error)
        console.log(error.response)
      })
      this.dialog = false
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
