<template>
<v-container fluid>
    <h1 class="title">{{ topicName }}</h1>
    <v-card-text>

    </v-card-text>
    <v-toolbar color="white" light dense>
       <v-toolbar-title>Intent List</v-toolbar-title>
       <v-spacer></v-spacer>
       <v-text-field
         append-icon="search"
         label="Search"
         single-line
         hide-details
         v-model="search"
       ></v-text-field>
       <v-btn icon v-on:click="addAction()">
         <v-icon>add</v-icon>
       </v-btn>
     </v-toolbar>
  <v-data-table
      v-bind:headers="headers"
      v-bind:search="search"
      :items="this.topic.intent"
      hide-actions
      class="elevation-1"
    >
    <template slot="items" slot-scope="props">
      <td class="text-xs-left">{{ props.item.expressionItems[0].name }}</td>
      <td>
        <v-btn icon ripple v-on:click="editAction(props.index)">
          <v-icon color="grey lighten-1">edit</v-icon>
        </v-btn>
      </td>
      <td>
        <v-btn icon ripple @click.stop="dialog = true">
          <v-icon color="grey lighten-1">delete</v-icon>
        </v-btn>
      </td>

    </template>
  </v-data-table>
  <v-dialog v-model="dialog" max-width="300">
      <v-card>
        <v-spacer></v-spacer>
        <v-card-title class="sub-header">Are you sure you want to delete selected intent?</v-card-title>
        <v-card-actions>
          <v-btn center color="info" @click.stop="dialog = false">Yes</v-btn>
          <v-btn center color="error" @click.stop="dialog = false">No</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</v-container>
</template>

<script>

export default {
  data () {
    return {
      max25chars: (v) => v.length <= 25 || 'Input too long!',
      tmp: '',
      response: '',
      search: '',
      dialog: false,
      errorMessages: [],
      formHasErrors: false,
      topicName: null,
      value: null,
      description: null,
      headers: [
        {text: 'Topic', value: 'name', align: 'left'},
        {text: 'Edit Intents', value: 'value', align: 'left', sortable: false},
        {text: 'Delete', value: 'delete', align: 'left', sortable: false}
      ],
      topic: {
      }
    }
  },
  computed: {
    form () {
      return {
        name: this.name
      }
    }
  },
  watch: {
    name () {
      this.errorMessages = []
    }
  },
  methods: {
    addAction: function () {
      this.$router.push({name: 'CreateIntentTopic', params: {isTopic: true}})
    }
  },
  created () {
    if (this.$route.params.topicNameParam != null) {
      this.topicName = this.$route.params.topicNameParam
    }
    if (this.$route.params.topicParam != null) {
      this.topic = this.$route.params.topicParam
      this.topicName = this.topic.name
      console.log(this.topic)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
