<template>
  <v-container fluid>
    <v-spacer></v-spacer>
    <v-toolbar color="white" light dense>
       <v-spacer></v-spacer>
       <v-text-field
         append-icon="search"
         label="Search"
         single-line
         hide-details
         v-model="search"
       ></v-text-field>
       <v-btn color="primary" @click.stop="dialog = true">New Topic</v-btn>
     </v-toolbar>
    <v-data-table
      v-bind:search="search"
      :headers="headers"
      :items="topicitem.topics"
      hide-actions
      item-key="name"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr @click="props.expanded = !props.expanded">
          <td>{{ props.item.name }}</td>
        </tr>
      </template>
      <template slot="expand" slot-scope="props">
        <v-toolbar dark flat dense>
          <v-spacer></v-spacer>
           <v-btn color="primary" @click.stop="addAction(props.index)">New Intent</v-btn>
         </v-toolbar>
        <v-data-table
          :headers="subheaders"
          :items="props.item.intent"
          hide-actions
          dark>
          <template slot="items" slot-scope="props2">
              <td>{{ props2.item.expressionItems[0].name }}</td>
              <td>
                <v-btn icon ripple v-on:click="editAction(props.index, props2.index)">
                  <v-icon color="grey lighten-1">edit</v-icon>
                </v-btn>
              </td>
          </template>
        </v-data-table>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" max-width="500px">
        <v-toolbar dark color="info">
           <v-btn icon @click.native="dialog = false" dark>
             <v-icon>close</v-icon>
           </v-btn>
           <v-toolbar-title>Add Topic</v-toolbar-title>
           <v-spacer></v-spacer>
         </v-toolbar>
         <v-card ref="form">
           <v-card-title>
             <h1 class="title"></h1>
           </v-card-title>
           <v-card-text>
             <v-text-field
                  label="Topic Name"
                  value=""
                  v-model="name"
                  ref="name"
                  :rules="[() => !!name || 'This field is required']"
                  :error-messages="errorMessages">
              </v-text-field>
           </v-card-text>
         <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="info" @click="addTopic()" >Save</v-btn>
            <v-btn color="error" @click="dialog=false">Close</v-btn>
         </v-card-actions>
         </v-card>
       </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios'
import config from '../../config'

export default {
  data () {
    return {
      max25chars: (v) => v.length <= 25 || 'Input too long!',
      tmp: '',
      response: '',
      search: '',
      dialog: false,
      errorMessages: [],
      formHasErrors: false,
      name: null,
      value: null,
      description: null,
      headers: [
        {text: 'Topic', value: 'name', align: 'left', sortable: false}
      ],
      subheaders: [
        {text: 'Intents', value: 'name', align: 'left', sortable: false},
        {text: 'Edit', value: 'name', align: 'left', sortable: false}

      ],
      topicitem: {
        topics: []
      }
    }
  },
  computed: {
    form () {
      return {
        name: this.name
      }
    }
  },
  watch: {
    name () {
      this.errorMessages = []
    }
  },
  methods: {
    addTopic: function () {
      this.topicitem.topics.push({name: this.name, intent: []})
      this.postPost()
    },
    addAction: function (index) {
      this.$router.push({name: 'CreateIntentTopic', params: {topicItem: this.topicitem, topicSelected: index, isTopic: true}})
    },
    editAction: function (index, index2) {
      this.$router.push({name: 'CreateIntentTopic', params: {topicItem: this.topicitem, topicSelected: index, expressionSelected: index2, isTopic: true}})
    },
    postPost () {
      console.log(JSON.parse(JSON.stringify(this.topicitem)))
      axios.post(config.topicURI,
        JSON.parse(JSON.stringify(this.topicitem)),
        {data: {},
          headers: {
            'Authorization': 'Bearer ' + config.variableAccessToken,
            'Content-type': 'application/json'
          }}
      )
      .then(response => {})
      .catch(error => {
        console.log(error)
        console.log(error.response)
      })
      this.dialog = false
    }
  },
  created () {
    axios({method: 'GET',
      'url': config.topicURI,
      data: {},
      headers: {
        'Authorization': 'Bearer ' + config.variableAccessToken,
        'Content-type': 'application/json'
      }
    }).then(response => {
      this.topicitem.topics = response.data
    }).catch(error => {
      console.log(error)
      console.log(error.response)
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
