<template>
  <v-container fluid>
    <IntentExpression/>

    <v-flex xs12 sm6 class="py-2">
      <p>Response Options</p>
        <v-btn-toggle v-model="text">
          <v-btn flat value="normal">
            Normal Response
          </v-btn>
        <v-btn flat value="responsive">
          Responsive UI
        </v-btn>
      </v-btn-toggle>
    </v-flex>
    <IntentResponse v-if="this.text=='normal'"/>
    <IntentQuickResponse v-if="this.text=='responsive'"/>
    <IntentAction/>
    <IntentCondition/>
    <v-layout row>
      <v-flex xs20>
        <v-btn left color="info" v-on:click="postPost()">Save</v-btn>
        <v-btn left color="error" v-on:click="cancel()">Cancel</v-btn>
      </v-flex>
    </v-layout>

    <v-dialog v-model="dialog" max-width="400">
        <v-card>
          <v-spacer></v-spacer>
          <v-card-title class="headline">Intent successfully saved!</v-card-title>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green" @click.native="dialog = false" :to="'/intent/intent'">Ok</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

  </v-container>
</template>

<script>
import IntentExpression from './IntentExpression'
import IntentResponse from './IntentResponse'
import IntentQuickResponse from './IntentQuickResponse'
import IntentAction from './IntentAction'
import IntentCondition from './IntentCondition'
import axios from 'axios'
import config from '../../config'
export default {
  name: 'CreateIntent',
  data () {
    return {
      dialog: false,
      isTopic: false,
      topicSelected: -1,
      expressionMain: '',
      text: 'normal',
      topicIntent: {},
      intent: {
        responseItems: [],
        expressionItems: [],
        actionItems: [],
        conditionItems: [],
        quickResponseItems: []

      },
      intentroot: {
        intent: []
      },
      topicitem: {

      },
      currentIndex: -1
    }
  },
  components: {
    IntentResponse,
    IntentExpression,
    IntentAction,
    IntentCondition,
    IntentQuickResponse
  },
  created () {
    if (this.$route.params.isTopic != null) {
      this.isTopic = true
      this.topicSelected = this.$route.params.topicSelected
      this.topicitem = this.$route.params.topicItem
      if (this.$route.params.expressionSelected != null) {
        this.intent = this.topicitem.topics[this.topicSelected].intent[this.$route.params.expressionSelected]
        this.currentIndex = this.$route.params.expressionSelected
      }
      if(this.intent.responseItems.length < 1) {
        this.text = 'responsive'
      }
      this.topicIntent = this.topicitem.topics[this.topicSelected].intent
    } else {
      var tempArr = []
      this.$route.params.intentList.forEach(function (value) {
        tempArr.push(value)
      })
      this.intentroot.intent = tempArr

      if (this.$route.params.intentParam != null) {
        this.intent = this.$route.params.intentParam
        this.currentIndex = this.$route.params.intentIndex
        if(this.intent.responseItems.length < 1) {
          this.text = 'responsive'
        }
      }
    }
  },
  methods: {
    check () {
      console.log(this.responseItems)
      console.log(this.expressionItems)
      console.log(this.actionItems)
    },
    postPost () {
      if (this.isTopic) {
        console.log(this.currentIndex)
        if (this.currentIndex >= 0) {
          this.topicitem.topics[this.topicSelected].intent.splice(this.currentIndex, 1)
        }
        this.topicitem.topics[this.topicSelected].intent.push(this.intent)
        this.sendTopicRequest()
        this.$router.push({name: 'Topic'})
      } else {
        if (this.currentIndex > 0) {
          this.intentroot.intent.splice(this.currentIndex, 1)
        }
        this.intentroot.intent.push(this.intent)
        console.log(this.intentroot)
        console.log(JSON.parse(JSON.stringify(this.intentroot)))
        axios.post(config.aimlURI,
          JSON.parse(JSON.stringify(this.intentroot)),
          {data: {},
            headers: {
              'Authorization': 'Bearer ' + config.variableAccessToken,
              'Content-type': 'application/json'
            }}
        )
        .then(response => {})
        .catch(error => {
          console.log(error)
          console.log(error.response)
        })
        this.dialog = true
      }
    },
    sendTopicRequest: function () {
      console.log(this.topicitem)
      console.log(JSON.parse(JSON.stringify(this.topicitem)))
      axios.post(config.topicURI,
        JSON.parse(JSON.stringify(this.topicitem)),
        {data: {},
          headers: {
            'Authorization': 'Bearer ' + config.variableAccessToken,
            'Content-type': 'application/json'
          }}
      )
      .then(response => {})
      .catch(error => {
        console.log(error)
        console.log(error.response)
      })
    },
    cancel: function () {
      if (this.isTopic) {
        this.$router.push({name: 'Topic'})
      } else {
        this.$router.push({name: 'Intent'})
      }
    }
  }
}
</script>

<style>
</style>
