<template>
  <v-container fluid>
    <v-data-table
        v-bind:headers="headers"
        :items="items"
        hide-actions
        class="elevation-1"
      >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.name }}</td>
        <td class="text-xs-left">
          <v-btn icon v-on:click="selectVariable(props.item.name)">
            <v-icon>done</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
  import axios from 'axios'
  import config from '../../config'
  export default {
    data () {
      return {
        headers: [
          {text: 'Variable', value: 'variable', align: 'left'},
          {text: 'Select', value: 'select', align: 'left', sortable: false}
        ],
        items: []
      }
    },
    props: {
      parentData: {
        type: String,
        default () {
          return ''
        }
      }
    },
    methods: {
      selectVariable: function (variable) {
        this.$emit('interface', variable)
      }
    },
    created () {
      console.log('ASDSAD')
      axios({method: 'GET',
        'url': config.topicURI,
        data: {},
        headers: {
          'Authorization': 'Bearer ' + config.variableAccessToken,
          'Content-type': 'application/json'
        }
      }).then(response => {
        this.items = response.data
        this.items.push({name: 'unknown'})
      }).catch(error => {
        console.log(error)
        console.log(error.response)
      })
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
