<template>
  <v-container fluid>
  <v-toolbar color="white" light dense>
     <v-toolbar-title>Intents</v-toolbar-title>
     <v-spacer></v-spacer>
     <v-text-field
       append-icon="search"
       label="Search"
       single-line
       hide-details
       v-model="search"
     ></v-text-field>
   </v-toolbar>
    <v-data-table
        v-bind:headers="headers"
        v-bind:search="search"
        :items="items"
        class="elevation-1"
      >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.name }}</td>
        <td class="text-xs-left">
          <v-btn icon v-on:click="selectVariable(props.item.name)">
            <v-icon>done</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
  import axios from 'axios'
  import config from '../../config'
  export default {
    data () {
      return {
        search: '',
        headers: [
          {text: 'Name', value: 'name', align: 'left'},
          {text: 'Select', value: 'select', align: 'left', sortable: false}
        ],
        items: []
      }
    },
    props: {
      parentData: {
        type: String,
        default () {
          return ''
        }
      }
    },
    created () {
      this.getIntent()
    },
    methods: {
      selectVariable: function (variable) {
        this.$emit('interface', variable)
      },
      getIntent() {
        axios({method: 'GET',
          'url': config.aimlURI,
          data: {},
          headers: {
            'Authorization': 'Bearer ' + config.variableAccessToken,
            'Content-type': 'application/json'
          }
        }).then(response => {
          let tempItems = []
          tempItems = response.data
          tempItems.forEach(function (value) {
            this.items.push({name: value.expressionItems[0].name, id: value.id})
          }.bind(this))
          if(this.$parent.$parent.$parent.isTopic) {
            this.getTopicIntent()
          }
        }).catch(error => {
          console.log(error)
          console.log(error.response)
        })
      },
      getTopicIntent() {
        let tempItems = []
        this.$parent.$parent.$parent.topicIntent.forEach(function (value) {
          this.items.push({name: value.expressionItems[0].name, id: value.id})
        }.bind(this))
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
