<template>
  <v-container fluid>
    <v-toolbar color="white" light dense>
       <v-toolbar-title>Variable List</v-toolbar-title>
       <v-spacer></v-spacer>
       <v-text-field
         append-icon="search"
         label="Search"
         single-line
         hide-details
         v-model="search"
       ></v-text-field>
     </v-toolbar>
    <v-data-table
        v-bind:headers="headers"
        :items="items"
        v-bind:search="search"
        class="elevation-1"
      >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.name }}</td>
        <td class="text-xs-left">{{ props.item.description }}</td>
        <td class="text-xs-left">
          <v-btn icon v-on:click="selectVariable(props.item.name)">
            <v-icon>done</v-icon>
          </v-btn>
        </td>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
  import axios from 'axios'
  import config from '../../config'
  export default {
    data () {
      return {
        search: '',
        headers: [
          {text: 'Variable', value: 'variable', align: 'left'},
          {text: 'Description', value: 'description', align: 'left'},
          {text: 'Select', value: 'select', align: 'left', sortable: false}
        ],
        items: [
          {name: 'CASE_MANAGER_EMAIL', description: 'test@gmail.com'},
          {name: 'CASE_MANAGER', description: 'Fred Manager'}
        ]
      }
    },
    props: {
      parentData: {
        type: String,
        default () {
          return ''
        }
      }
    },
    methods: {
      selectVariable: function (variable) {
        this.$emit('interface', this.parentData + variable)
      }
    },
    mounted () {
      axios({method: 'GET',
        'url': config.variableBuiltInURI,
        data: {},
        headers: {
          'Authorization': 'Bearer ' + config.variableAccessToken,
          'Content-type': 'application/json'
        }
      }).then(response => {
        this.items = response.data
        this.items.push({description: 'messagebody', name: 'messagebody'})
        this.items.push({description: 'unknown', name: 'unknown'})
      }).catch(error => {
        console.log(error)
        console.log(error.response)
      })
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
