<template>
  <v-container fluid>
  <v-toolbar color="white" light dense>
     <v-toolbar-title>Service Templates</v-toolbar-title>
     <v-spacer></v-spacer>
     <v-text-field
       append-icon="search"
       label="Search"
       single-line
       hide-details
       v-model="search"
     ></v-text-field>
   </v-toolbar>
    <v-data-table
        v-bind:headers="headers"
        v-bind:search="search"
        :items="servicetemplates.servicetemplates"
        class="elevation-1"
        item-key="servicename"
      >
      <template slot="items" slot-scope="props">
        <tr @click="props.expanded = !props.expanded">
          <td class="text-xs-left">{{ props.item.servicename }}</td>
          <td class="text-xs-left">
            <v-btn icon v-on:click="selectVariable(props.item.entryval)">
              <v-icon>done</v-icon>
            </v-btn>
          </td>
        </tr>
      </template>
      <template slot="expand" slot-scope="props">
      <v-card color="grey darken-3" flat>
        <v-card-text>
          <v-container fluid>
            <v-layout row>
              <v-flex xs12>
                <v-text-field
                  name="input-1"
                  v-model="props.item.entryval"
                  textarea
                  dark
                  disabled
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        </v-card>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
  import axios from 'axios'
  import config from '../../config'
  export default {
    data () {
      return {
        search: '',
        headers: [
          {text: 'Service Name', value: 'servicename', align: 'left'},
          {text: 'Select', value: 'select', align: 'left', sortable: false}
        ],
        items: [],
        servicetemplates: {
          servicetemplates: []
        }
      }
    },
    props: {
      parentData: {
        type: String,
        default () {
          return ''
        }
      }
    },
    methods: {
      selectVariable: function (variable) {
        this.$emit('interface', variable)
      }
    },
    mounted () {
      axios({method: 'GET',
        'url': config.servicesURI,
        data: {},
        headers: {
          'Authorization': 'Bearer ' + config.variableAccessToken,
          'Content-type': 'application/json'
        }
      }).then(response => {
        console.log(response.data)
        this.servicetemplates = response.data
      }).catch(error => {
        console.log(error)
        console.log(error.response)
      })
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
