<template>
<v-container fluid>
  <h1>Condition</h1>
    <v-spacer></v-spacer>
     <v-toolbar color="white" light dense>
       <v-btn icon v-on:click="openDialogCondition()" v-if="this.conditionItem.length<1">
         <v-icon>add</v-icon>
       </v-btn>
        <v-spacer></v-spacer>
      </v-toolbar>
   <v-data-table
       v-bind:headers="headers"
       :items="conditionItem"
       hide-actions
       class="elevation-1">
     <template slot="items" slot-scope="props">
      <td>
          {{ props.item.conditionname }}
      </td>
      <td>
        <v-btn icon ripple v-on:click="openDialog()">
          <v-icon color="grey lighten-1">edit</v-icon>
        </v-btn>
      </td>
     </template>
   </v-data-table>

   <v-dialog v-model="dialog" fullscreen>
        <v-toolbar dark color="info">
           <v-btn icon @click.native="dialog = false" dark>
             <v-icon>close</v-icon>
           </v-btn>
           <v-toolbar-title>Add Condition</v-toolbar-title>
           <v-spacer></v-spacer>
         </v-toolbar>
        <v-card>
          <v-card-title>
            Add Condition
          </v-card-title>
          <v-card-text>
            <v-layout row>
              <v-flex xs20>
                <v-text-field
                  label="Condition Name"
                  single-line
                  hide-details
                  v-model="conditionname"
                  ref="valueField"
                  disabled>
                </v-text-field>
              </v-flex>
              <v-btn icon top @click.stop="dialogVariable = true">
                <v-icon>add</v-icon>
              </v-btn>
            </v-layout>
          </v-card-text>
          <v-card-text>
            <v-layout row>
              <v-btn color="info" @click.stop="addNewLi">Add Condition Value</v-btn>
            </v-layout>
         </v-card-text>

         <v-container v-for="(li, index) in lis" fluid grid-list-xl>
           <v-layout row wrap>
            <v-flex xs8>
               <v-card dark>
                 <v-layout row justify-space-between>
                   <v-flex xs5 offset-xs1>
                     <v-text-field
                       label="Condition Value"
                       v-model="li.value"
                       :disabled="li.value==='DEFAULT'">
                     </v-text-field>
                   </v-flex>
                   <v-flex xs1 align-end>
                     <v-btn icon v-on:click="removeLi(index)" :disabled="li.value==='DEFAULT'">
                       <v-icon>close</v-icon>
                     </v-btn>
                   </v-flex>
                 </v-layout>
                 <v-layout row wrap>
                   <v-flex xs5 offset-xs1>
                     <v-text-field
                       label="Response"
                       v-model="li.response"
                       @keyup.50="openDialogVar(index)" v-if="li.text=='normal'">
                     </v-text-field>
                     <v-btn top v-on:click="addResponsiveUI(index)" v-if="li.text=='responsive'">
                        Add/Edit Responsive UI
                     </v-btn>
                     <v-btn top v-on:click="addOfficetime(index)" v-if="li.text=='officetime'">
                        Add/Edit Office Time
                     </v-btn>
                     <subcondition v-if="li.text=='condition'"/>
                   </v-flex>
                   <v-flex xs2>
                     <p>Response Options</p>
                       <v-btn-toggle v-model="li.text">
                         <v-btn flat value="normal">
                           Normal Response
                         </v-btn>
                       <v-btn flat value="responsive">
                         Responsive UI
                       </v-btn>
                       <v-btn flat value="officetime">
                         Office Time
                       </v-btn>
                       <v-btn flat value="condition">
                         Add Another Condition
                       </v-btn>
                     </v-btn-toggle>
                   </v-flex>
                 </v-layout>
                </v-card>
              </v-flex>
            </v-layout>
        </v-container>
        <v-card-actions>
          <v-btn color="info" v-on:click="save()">Save</v-btn>
          <v-btn color="error" @click.stop="dialog=false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialogVariable" max-width="500px">
           <v-card>
             <v-card-title>
               Select Variable
             </v-card-title>
             <IntentVariableBuiltIn :parentData='this.response' @interface="handleAfterBack"/>
           <v-card-actions>
             <v-btn color="primary" flat @click.stop="dialogVariable=false">Close</v-btn>
             </v-card-actions>
           </v-card>
      </v-dialog>
      <v-dialog v-model="dialogVariableDefault" max-width="500px">
           <v-card>
             <v-card-title>
               Select Variable
             </v-card-title>
             <IntentVariableBuiltIn :parentData='this.defaultresponse' @interface="handleAfterBackDefault"/>
           <v-card-actions>
             <v-btn color="primary" flat @click.stop="dialogVariableDefault=false">Close</v-btn>
             </v-card-actions>
           </v-card>
      </v-dialog>
      <v-dialog v-model="dialogVariableLi" max-width="500px">
           <v-card>
             <v-card-title>
               Select Variable
             </v-card-title>
             <IntentVariableBuiltIn @interface="handleAfterBackLi"/>
           <v-card-actions>
             <v-btn color="primary" flat @click.stop="dialogVariableLi=false">Close</v-btn>
             </v-card-actions>
           </v-card>
      </v-dialog>

      <v-dialog v-model="dialogIntent" max-width="1000px">
        <v-card>
          <v-card-title>
            Select Intent
          </v-card-title>
          <IntentActionIntent @interface="handleAfterBackIntent"/>
          <v-card-actions>
            <v-btn color="error" @click.stop="dialogIntent=false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialogTopic" max-width="1000px">
        <v-card>
          <v-card-title>
            Select Topic
          </v-card-title>
          <IntentActionTopic @interface="handleAfterBackTopic"/>
          <v-card-actions>
            <v-btn color="error" @click.stop="dialogTopic=false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialogQuickResponse" max-width="1000px">
          <v-toolbar dark color="info">
             <v-btn icon @click.native="dialogQuickResponse = false" dark>
               <v-icon>close</v-icon>
             </v-btn>
             <v-toolbar-title>Add Quick Response</v-toolbar-title>
             <v-spacer></v-spacer>
           </v-toolbar>
           <v-card>
             <v-card-title>

             </v-card-title>
             <v-card-text>
               <v-layout row>
                 <v-flex xs20>
                   <v-text-field
                     label="Response Question"
                     single-line
                     hide-details
                     v-model="responsequestion"
                     id="responsequestion"
                     @keyup.50="openDynamicVariable('responsequestion')"
                     ref="valueField">
                   </v-text-field>
                 </v-flex>
               </v-layout>
             </v-card-text>
             <v-card-text>
               <v-layout row>
                 <v-btn color="info" @click.stop="addNewElement">Add Element</v-btn>
               </v-layout>
            </v-card-text>

            <v-container v-for="(element, index) in elements" fluid grid-list-md>
               <v-layout row wrap>
                 <v-flex xs20>
                   <v-text-field
                     label="Button Name"
                     v-model="element.title">
                   </v-text-field>
                 </v-flex>
                 <v-btn color="error" v-on:click="removeElement(index)">Remove</v-btn>
               </v-layout>
           </v-container>
           <v-card-actions>
             <v-btn color="info" v-on:click="saveQuickResponse()">Save</v-btn>
             </v-card-actions>
           </v-card>
         </v-dialog>

         <v-dialog v-model="dialogOfficetime" max-width="1000px">
             <v-toolbar dark color="info">
                <v-btn icon @click.native="dialogOfficetime = false" dark>
                  <v-icon>close</v-icon>
                </v-btn>
                <v-toolbar-title>Add Office Time</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card>
                <v-card-title>

                </v-card-title>
                <v-card-text>
                  <v-layout row>
                    <v-flex xs20>
                      <v-text-field
                        label="Location"
                        single-line
                        hide-details
                        v-model="location"
                        ref="valueField"
                        disabled
                        id='location'>
                      </v-text-field>
                    </v-flex>
                    <v-btn icon v-on:click="openDynamicVariable('location')">
                      <v-icon>add</v-icon>
                    </v-btn>
                  </v-layout>
                </v-card-text>
               <v-card-text>
                 <v-layout row>
                   <v-flex xs20>
                     <v-text-field
                       label="Set Intent"
                       single-line
                       hide-details
                       v-model="inoffice"
                       id="inoffice"
                       ref="valueField"
                       disabled>
                     </v-text-field>
                   </v-flex>
                   <v-btn icon @click.stop="dialogIntent = true"">
                     <v-icon>add</v-icon>
                   </v-btn>
                 </v-layout>
               </v-card-text>
               <v-card-text>
                 <v-layout row>
                   <v-flex xs20>
                     <v-text-field
                       label="Set Topic"
                       single-line
                       hide-details
                       v-model="topic"
                       ref="valueField"
                       id="topic"
                       disabled>
                     </v-text-field>
                   </v-flex>
                   <v-btn icon  @click.stop="dialogTopic = true">
                     <v-icon>add</v-icon>
                   </v-btn>
                 </v-layout>
               </v-card-text>
               <v-card-text>
                 <v-layout row wrap>
                   <v-flex xs6>
                     <v-btn top v-on:click="addOfficetimeResponsiveUI()">
                        Add/Edit Responsive UI
                     </v-btn>
                   </v-flex>
                 </v-layout>
               </v-card-text>
              <v-card-actions>
                <v-btn color="info" v-on:click="saveOfficetime()">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-dialog v-model="dialogDynamicVariable" max-width="1000px">
                 <v-card>
                   <v-card-title>
                     Select Variable
                   </v-card-title>
                   <IntentVariableBuiltIn  @interface="handleAfterBackDynamicVariable"/>
                 <v-card-actions>
                   <v-btn color="primary" flat @click.stop="dialogDynamicVariable=false">Close</v-btn>
                   </v-card-actions>
                 </v-card>
            </v-dialog>
</v-container>
</template>

<script>
import IntentVariableBuiltIn from './IntentVariableBuiltIn'
import IntentQuickResponse from './IntentQuickResponse'
import IntentActionIntent from './IntentActionIntent'
import IntentActionTopic from './IntentActionTopic'
import Vue from 'vue'
export default {
  data () {
    return {
      max25chars: (v) => v.length <= 25 || 'Input too long!',
      tmp: '',
      response: '',
      defaultresponse: '',
      conditionname: '',
      search: '',
      dialog: false,
      dialogVariable: false,
      dialogVariableDefault: false,
      dialogVariableLi: false,
      dialogQuickResponse: false,
      dialogOfficetime: false,
      dialogDynamicVariable: false,
      dialogIntent: false,
      dialogTopic: false,
      tempIndex: 0,
      tempDefaultIndex: 0,
      pagination: {},
      defaulttext: 'normal',
      defaultOfficeItem: [],
      defaultResponsiveUI: [],
      officetimetext: 'normal',
      location: '',
      inoffice: '',
      isDefault: false,
      isOfficeTime: false,
      topic: '',
      responsequestion: '',
      field: '',
      type: 'INTENT',
      headers: [
        {text: 'Condition Name', value: 'type', align: 'left', sortable: false},
        {text: 'Edit', value: 'edit', align: 'left', sortable: false}
      ],
      defaultQuickResponseItems: [],
      defaultOfficeTimeItems: [],
      conditionItem: [],
      li: {
        value: '',
        response: '',
        text: 'normal',
        quickResponseItems: [],
        officeTimeItems: []
      },
      lis: [],
      elements: [],
      element: {
        content_type: '',
        payload: '',
        title: ''
      }
    }
  },
  components: {
    IntentVariableBuiltIn,
    IntentQuickResponse,
    IntentActionIntent,
    IntentActionTopic
  },
  created () {
    this.$parent.intent.conditionItems.forEach(function (value) {
      this.conditionItem.push({conditionname: value.conditionname})
    }.bind(this))
  },
  methods: {
    addNewLi: function () {
      this.li = {value: '', response: '', text: 'normal', quickResponseItems: [], officeTimeItems: []}
      this.lis.unshift(Vue.util.extend({}, this.li))
    },
    removeLi: function (index) {
      Vue.delete(this.lis, index)
    },
    handleAfterBack: function (event) {
      this.dialogVariable = false
      this.conditionname = event
    },
    handleAfterBackDefault: function (event) {
      this.dialogVariableDefault = false
      this.defaultresponse = event
    },
    handleAfterBackLi: function (event) {
      this.dialogVariableLi = false
      var response = this.lis[this.tempindex].response + event
      this.lis[this.tempindex].response = response
    },
    handleAfterBackIntent: function (event) {
      this.dialogIntent = false
      this.inoffice = event
    },
    handleAfterBackTopic: function (event) {
      this.dialogTopic = false
      this.topic = event
    },
    openDialogVar: function (index) {
      this.tempindex = index
      this.dialogVariableLi = true
    },
    openDialogCondition: function () {
      this.li = {value: 'DEFAULT', response: '', text: 'normal', quickResponseItems: [], officeTimeItems: []}
      this.lis.push(Vue.util.extend({}, this.li))
      this.dialog = true
    },
    openDialog: function () {
    console.log('openDialog')
      console.log(this.$parent.intent.conditionItems[0].lis)
      var tempArrLis = []
      this.$parent.intent.conditionItems[0].lis.forEach(function (value) {
        var tempText = 'normal'
        if(value.quickResponseItems != null && value.quickResponseItems.length > 0) {
          tempText = 'responsive'
        } else if (value.officeTimeItems != null && value.officeTimeItems.length > 0) {
          tempText = 'officetime'
        }
        if (value.value === null) {
          tempArrLis.push({value: 'DEFAULT', response: value.response, text: tempText, quickResponseItems: value.quickResponseItems, officeTimeItems: value.officeTimeItems})
        } else {
          tempArrLis.push({value: value.value, response: value.response, text: tempText, quickResponseItems: value.quickResponseItems, officeTimeItems: value.officeTimeItems})
        }
      })
      this.lis = tempArrLis
      console.log(this.lis)
      this.conditionname = this.conditionItem[0].conditionname
      this.dialog = true
    },
    save: function () {
      this.conditionItem = []
      this.$parent.intent.conditionItems = []
      this.conditionItem.push({conditionname: this.conditionname, lis: this.lis})
      this.$parent.intent.conditionItems.push({conditionname: this.conditionname, lis: this.lis})
      console.log(this.$parent.intent.conditionItems)
      this.dialog = false
    },
    addResponsiveUI: function (index) {
      this.tempIndex = index
      if(this.lis[index].quickResponseItems != null && this.lis[index].quickResponseItems.length > 0) {
        this.elements = this.lis[index].quickResponseItems[0].elements
        this.responsequestion = this.lis[index].quickResponseItems[0].text
      } else {
        this.clear()
      }
      this.dialogQuickResponse = true
    },
    addOfficetimeResponsiveUI: function () {
      this.isOfficeTime = true
      this.dialogQuickResponse = true
    },
    addOfficetime: function (index) {
      console.log('addOfficetime')
      this.tempindex = index
      console.log(index)
      console.log(this.lis[index].officeTimeItems)
      if(this.lis[index].officeTimeItems != null && this.lis[index].officeTimeItems.length > 0) {
        this.location = this.lis[index].officeTimeItems[0].location
        this.inoffice = this.lis[index].officeTimeItems[0].inoffice.srai
        this.topic = this.lis[index].officeTimeItems[0].outoffice.think.set[0].value
        this.responsequestion = this.lis[index].officeTimeItems[0].outoffice.message.text
        this.elements = this.lis[index].officeTimeItems[0].outoffice.message.quick_replies
      } else {
        this.location = ''
        this.inoffice = ''
        this.topic = ''
        this.responsequestion = ''
        this.elements = []
      }
      this.dialogOfficetime = true
    },
    addDefaultOfficetime: function () {
      console.log('addDefaultOfficetime')
      if(this.defaultOfficeItem != null && this.defaultOfficeItem.length > 0) {
        this.location = this.defaultOfficeItem[0].location
        this.inoffice = this.defaultOfficeItem[0].inoffice.srai
        if(this.defaultOfficeItem[0].outoffice.message != null) {
          this.officetimetext = 'responsive'
        }
      }
      this.isDefault = true
      this.dialogOfficetime = true
    },
    addDefaultResponsiveUI: function () {
      console.log('addDefaultResponsiveUI')
      console.log(this.defaultResponsiveUI)
      if(this.defaultResponsiveUI != null && this.defaultResponsiveUI.length > 0) {
        this.elements = this.defaultResponsiveUI[0].elements
        this.responsequestion = this.defaultResponsiveUI[0].text

      }
      this.isDefault = true
      this.dialogQuickResponse = true
    },
    addNewElement: function () {
      this.elements.push(Vue.util.extend({}, this.element))
    },
    removeElement: function (index) {
      Vue.delete(this.elements, index)
    },
    saveQuickResponse: function () {
      console.log('saveQuickResponse')
      if(!this.isOfficeTime) {
        this.lis[this.tempIndex].quickResponseItems.push({ text: this.responsequestion, elements: this.elements})
      }
      this.isOfficeTime = false
      this.dialogQuickResponse = false
    },
    saveOfficetime: function () {
      this.lis[this.tempindex].officeTimeItems.push({ location: this.location, inoffice: {srai: this.inoffice}, outoffice:{ think: {set: [{name: 'topic', value: this.topic}]}, message: { text: this.responsequestion, quick_replies: this.elements}}})
      this.dialogOfficetime = false
    },
    clear: function () {
      this.elements = []
      this.responsequestion = ''
    },
    openDynamicVariable: function (name) {
      this.field = name
      this.currentPosition = document.getElementById(name).selectionStart
      this.dialogDynamicVariable = true
    },
    handleAfterBackDynamicVariable: function (event) {
      this.dialogDynamicVariable = false
      var a = this.field
      var output = this[a].substr(0, this.currentPosition) + event + this[a].substr(this.currentPosition);
      this[a] = output
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.card--flex-toolbar {
  margin-top: -64px;
}
</style>
