<template>
<v-container fluid>
  <h1>Response</h1>
  <v-layout row>
    <v-flex xs20>
      <v-text-field box
        name="responseField"
        label="Add response"
        id="testing"
        v-model="response"
        ref="responseField"
        @keyup.50="openVariable">
      </v-text-field>
    </v-flex>
    <v-btn icon top v-on:click="addUserResponse">
      <v-icon>add</v-icon>
    </v-btn>
  </v-layout>
     <v-spacer></v-spacer>
     <v-toolbar color="white" light dense>
        <v-spacer></v-spacer>
        <v-text-field
          append-icon="search"
          label="Search"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-toolbar>
   <v-data-table
       v-bind:headers="headers"
       v-bind:search="search"
       :items="items"
       hide-actions
       hide-headers
       class="elevation-1">
     <template slot="items" slot-scope="props">
     <td class="text-xs-left">
       <v-edit-dialog
           :return-value.sync="props.item.name"
           large
           lazy
           persistent
           @save="postPost"
         >
           <div>{{ props.item.name }}</div>
           <div slot="input" class="mt-3 title">Update Value</div>
           <v-text-field
             slot="input"
             label="Edit"
             v-model="props.item.name"
             single-line
             counter
             autofocus
           ></v-text-field>
         </v-edit-dialog>
       </td>
       <td>
         <v-btn icon ripple v-on:click="deleteUserResponse(props.item.name)">
           <v-icon color="grey lighten-1">delete</v-icon>
         </v-btn>
       </td>
     </template>
   </v-data-table>

   <v-dialog v-model="dialog" max-width="1000px">
        <v-card>
          <v-card-title>
            Select Variable
          </v-card-title>
          <IntentVariableBuiltIn :parentData='this.response' @interface="handleAfterBack"/>
        <v-card-actions>
          <v-btn color="primary" flat @click.stop="dialog=false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
</v-container>
</template>

<script>
import IntentVariableBuiltIn from './IntentVariableBuiltIn'
export default {
  data () {
    return {
      max25chars: (v) => v.length <= 25 || 'Input too long!',
      tmp: '',
      response: '',
      dialog: false,
      search: '',
      pagination: {},
      headers: [
        {text: 'Variable', value: 'name', align: 'left'},
        {text: 'Delete', value: 'delete', align: 'left', sortable: false}
      ],
      items: []
    }
  },
  created () {
    var tempArr = []
    this.$parent.intent.responseItems.forEach(function (value) {
      tempArr.push({name: value.name})
    })
    this.items = tempArr
  },
  components: {
    IntentVariableBuiltIn
  },
  methods: {
    addUserResponse: function () {
      if (this.response) {
        this.items.push({name: this.response})
        this.$parent.intent.responseItems.push({name: this.response})
        console.log(this.$parent.intent.responseItems)
      }
      this.$refs.responseField.reset()
    },
    deleteUserResponse: function (name) {
      let i
      this.items.forEach((row, index) => {
        if (row.name === name) {
          i = index
        }
      })
      this.items.splice(i, 1)
      this.$parent.intent.responseItems.splice(i, 1)
    },
    openVariable: function () {
      this.dialog = true
    },
    handleAfterBack: function (event) {
      this.dialog = false
      this.response = event
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.card--flex-toolbar {
  margin-top: -64px;
}
</style>
