<template>
<v-container fluid>
  <h1>Action</h1>
    <v-spacer></v-spacer>
     <v-toolbar color="white" light dense>
       <v-btn icon @click.stop="dialog = true">
         <v-icon>add</v-icon>
       </v-btn>
        <v-spacer></v-spacer>
        <v-text-field
          append-icon="search"
          label="Search"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-toolbar>
   <v-data-table
       v-bind:headers="headers"
       v-bind:search="search"
       :items="items"
       hide-actions
       class="elevation-1">
     <template slot="items" slot-scope="props">
      <td>
        {{ props.item.type }}
       </td>
       <td class="text-xs-left">
         {{ props.item.value }}
       </td>
       <td>
         <v-btn icon ripple v-on:click="editAction(props.index)">
           <v-icon color="grey lighten-1">edit</v-icon>
         </v-btn>
       </td>
     </template>
   </v-data-table>

   <v-dialog v-model="dialog" max-width="850px">
       <v-toolbar dark color="info">
          <v-btn icon @click.native="dialog = false" dark>
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Add Action</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card>
          <v-card-text>
            <v-select
              v-bind:items="select"
              label="Types"
              item-value="text"
              v-model="type"
              @change="changedValue"
            ></v-select>
          </v-card-text>
          <v-card-text v-if="this.type=='INTENT' || this.type=='SET TOPIC' || this.type=='DIAL'">
            <v-layout row>
              <v-flex xs20>
                <v-text-field
                  label="Value"
                  single-line
                  hide-details
                  v-model="value"
                  ref="valueField"
                  disabled>
                </v-text-field>
              </v-flex>
              <v-btn icon top v-if="this.type=='INTENT'" @click.stop="dialogIntent = true">
                <v-icon>add</v-icon>
              </v-btn>
              <v-btn icon top v-if="this.type=='SET TOPIC'" @click.stop="dialogTopic = true">
                <v-icon>add</v-icon>
              </v-btn>
              <v-btn icon top v-if="this.type=='DIAL'" @click.stop="openDynamicVariable('value')">
                <v-icon>add</v-icon>
              </v-btn>
            </v-layout>
          </v-card-text>
          <v-card-text v-if="this.type=='SERVICE'">
            <v-layout row>
              <v-flex xs12>
                <v-text>Web Service</v-text>
                <v-btn color="info" @click.stop="dialogService = true">Select Service Template</v-btn>
                <v-text-field
                  name="input-1"
                  label=""
                  textarea
                  id="ta"
                  v-model="service"
                  @keyup.50="openVariable"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-text v-if="this.type=='TENSE'">
            <v-layout row>
              <v-flex xs12>
                <v-text>Tense</v-text>
                  <v-layout row>
                    <v-flex xs20>
                      <v-text-field box id="dateRef" label="Date Reference" v-model="tense.dateref" @keyup.50="openDynamicVariable('dateRef')"/>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs20>
                      <v-text-field box id="actualDateRef" label="Actual Date Reference" v-model="tense.actualdateref" @keyup.50="openDynamicVariable('actualDateRef')"/>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs20>
                      <v-text-field box id="pastResponse" label="Past Response" v-model="tense.past" @keyup.50="openDynamicVariable('pastResponse')"/>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs20>
                      <v-text-field box id="futureResponse" label="Future Response" v-model="tense.future" @keyup.50="openDynamicVariable('futureResponse')"/>
                    </v-flex>
                  </v-layout>
                  <v-layout row>
                    <v-flex xs20>
                      <v-text-field box id="actualResponse" label="Actual Response"  v-model="tense.actual" @keyup.50="openDynamicVariable('actualResponse')"/>
                    </v-flex>
                  </v-layout>
                </v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
        <v-card-actions>
          <v-btn color="info" v-on:click="addAction()">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialogIntent" max-width="1000px">
        <v-card>
          <v-card-title>
            Select Intent
          </v-card-title>
          <IntentActionIntent @interface="handleAfterBack"/>
          <v-card-actions>
            <v-btn color="error" @click.stop="dialogIntent=false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialogTopic" max-width="1000px">
        <v-card>
          <v-card-title>
            Select Topic
          </v-card-title>
          <IntentActionTopic @interface="handleAfterBackTopic"/>
          <v-card-actions>
            <v-btn color="error" @click.stop="dialogTopic=false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialogService" max-width="1000px">
        <v-card>
          <v-card-title>
            Select Service
          </v-card-title>
          <IntentActionService @interface="handleAfterBackService"/>
          <v-card-actions>
            <v-btn color="error" @click.stop="dialogService=false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialogVariable" max-width="1000px">
           <v-card>
             <v-card-title>
               Select Variable
             </v-card-title>
             <IntentVariableBuiltIn  @interface="handleAfterBackVariable"/>
           <v-card-actions>
             <v-btn color="primary" flat @click.stop="dialogVariable=false">Close</v-btn>
             </v-card-actions>
           </v-card>
      </v-dialog>
      <v-dialog v-model="dialogDynamicVariable" max-width="1000px">
           <v-card>
             <v-card-title>
               Select Variable
             </v-card-title>
             <IntentVariableBuiltIn  @interface="handleAfterBackDynamicVariable"/>
           <v-card-actions>
             <v-btn color="primary" flat @click.stop="dialogDynamicVariable=false">Close</v-btn>
             </v-card-actions>
           </v-card>
      </v-dialog>
</v-container>
</template>

<script>
import IntentActionIntent from './IntentActionIntent'
import IntentActionTopic from './IntentActionTopic'
import IntentActionService from './IntentActionService'
import IntentVariableBuiltIn from './IntentVariableBuiltIn'
export default {
  data () {
    return {
      max25chars: (v) => v.length <= 25 || 'Input too long!',
      tmp: '',
      response: '',
      search: '',
      value: '',
      dialog: false,
      dialogIntent: false,
      dialogTopic: false,
      dialogService: false,
      dialogVariable: false,
      dialogDynamicVariable: false,
      isEdit: false,
      currentIndex: 0,
      currentPosition: 0,
      pagination: {},
      service: '',
      host: '',
      botid: '',
      tenseField: '',
      dateRef: '',
      actualDateRef: '',
      pastResponse: '',
      futureResponse: '',
      actualResponse: '',
      topicIntent: {},
      type: 'INTENT',
      isTopic: false,
      headers: [
        {text: 'TYPE', value: 'type', align: 'left'},
        {text: 'VALUES', value: 'values', align: 'left', sortable: false},
        {text: 'Edit', value: 'edit', align: 'left', sortable: false}
      ],
      tense: {
        dateRef: '',
        actualDateRef: '',
        pastResponse: '',
        futureResponse: '',
        actualResponse: ''
      },
      items: [],
      select: [
          { text: 'INTENT' },
          { text: 'SET TOPIC' },
          { text: 'SERVICE' },
          { text: 'TENSE' },
          { text: 'DIAL' },
          { text: 'MESSAGE BODY' }
      ]
    }
  },
  components: {
    IntentActionIntent,
    IntentActionTopic,
    IntentActionService,
    IntentVariableBuiltIn
  },
  created () {
    this.isTopic = this.$parent.isTopic
    if(this.isTopic) {
      this.topicIntent = this.$parent.topicIntent
    }
    var tempArr = []
    var tempTense = {}
    this.$parent.intent.actionItems.forEach(function (value) {
      if (value.name === 'SET TOPIC') {
        tempArr.push({type: 'SET TOPIC', value: value.value})
      } else if (value.name === 'INTENT') {
        tempArr.push({type: 'INTENT', value: value.value})
      } else if (value.name === 'SERVICE') {
        tempArr.push({type: 'SERVICE', value: value.value})
      } else if (value.name === 'TENSE') {
        tempArr.push({type: 'TENSE', value: value.value})
        console.log(value.tense)
        tempTense = value.tense
      } else if (value.name === 'DIAL') {
        tempArr.push({type: 'DIAL', value: value.value})
      } else if (value.name === 'MESSAGE BODY') {
        tempArr.push({type: 'MESSAGE BODY', value: value.value})
      }
    })
    this.tense = tempTense
    this.items = tempArr
  },
  methods: {
    addAction: function () {
      if(this.isEdit) {
        this.items.splice(this.currentIndex, 1)
      }
      if(this.type === 'SERVICE') {
        this.value = this.service
      } else if (this.type === 'MESSAGE BODY') {
        this.value = 'messagebody'
      }
      this.items.push({type: this.type, value: this.value})
      if (this.type === 'TENSE') {
        this.$parent.intent.actionItems.push({name: this.type, value: this.value, tense: this.tense})
      } else {
        this.$parent.intent.actionItems.push({name: this.type, value: this.value})
      }
      this.edit = false
      this.dialog = false
    },
    editAction: function (index) {
      if(this.items[index].type === 'SERVICE') {
        this.service = this.items[index].value
      } else if(this.items[index].type === 'TENSE') {
        console.log(this.tense)
        console.log(this.items)
      } else {
        this.value = this.items[index].value
      }
      this.type = this.items[index].type
      this.dialog = true
      this.isEdit = true
    },
    deleteAction: function (name) {
      let i
      this.items.forEach((row, index) => {
        if (row.name === name) {
          i = index
        }
      })
      this.items.splice(i, 1)
      this.$parent.intent.actionItems.splice(i, 1)
    },
    changedValue: function (value) {
      console.log(value)
    },
    handleAfterBack: function (event) {
      this.dialogIntent = false
      this.value = event
    },
    handleAfterBackTopic: function (event) {
      this.dialogTopic = false
      this.value = event
    },
    handleAfterBackService: function (event) {
      this.dialogService = false
      this.service = event
    },
    openVariable: function () {
      this.currentPosition = document.getElementById('ta').selectionStart
      this.dialogVariable = true
    },
    openDynamicVariable: function (name) {
      this.tenseField = name
      if(name === 'value') {
        this.currentPosition = 0
      } else {
        this.currentPosition = document.getElementById(name).selectionStart
      }
      this.dialogDynamicVariable = true
    },
    handleAfterBackDynamicVariable: function (event) {
      this.dialogDynamicVariable = false
      if(this.tenseField === 'dateRef') {
        var output = this.tense.dateref.substr(0, this.currentPosition) + event + this.tense.dateref.substr(this.currentPosition);
        this.tense.dateref = output
      } else if(this.tenseField === 'actualDateRef') {
        var output = this.tense.actualdateref.substr(0, this.currentPosition) + event + this.tense.actualdateref.substr(this.currentPosition);
        this.tense.actualdateref = output
      } else if(this.tenseField === 'pastResponse') {
        var output = this.tense.past.substr(0, this.currentPosition) + event + this.tense.past.substr(this.currentPosition);
        this.tense.past = output
      } else if(this.tenseField === 'futureResponse') {
        var output = this.tense.future.substr(0, this.currentPosition) + event + this.tense.future.substr(this.currentPosition);
        this.tense.future = output
      } else if(this.tenseField === 'actualResponse') {
        var output = this.tense.actual.substr(0, this.currentPosition) + event + this.tense.actual.substr(this.currentPosition);
        this.tense.actual = output
      } else if(this.tenseField === 'value') {
        this.value = event
      }
    },
    handleAfterBackVariable: function (event) {
      this.dialogVariable = false
      var output = this.service.substr(0, this.currentPosition) + event + this.service.substr(this.currentPosition);
      this.service = output
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.card--flex-toolbar {
  margin-top: -64px;
}
</style>
