<template>
<v-container fluid>
    <v-toolbar color="white" light dense>
       <v-toolbar-title>Intents</v-toolbar-title>
       <v-spacer></v-spacer>
       <v-text-field
         append-icon="search"
         label="Search"
         single-line
         hide-details
         v-model="search"
       ></v-text-field>
       <v-btn icon v-on:click="addAction()">
         <v-icon>add</v-icon>
       </v-btn>
     </v-toolbar>
  <v-data-table
      v-bind:headers="headers"
      v-bind:search="search"
      :items="items"
      class="elevation-1"
    >
    <template slot="items" slot-scope="props">
      <td class="text-xs-left">{{ props.item.name }}</td>
      <td>
        <v-btn icon ripple v-on:click="editAction(props.item.id)">
          <v-icon color="grey lighten-1">edit</v-icon>
        </v-btn>
      </td>
    </template>
  </v-data-table>
  <v-dialog v-model="dialog" max-width="300">
      <v-card>
        <v-spacer></v-spacer>
        <v-card-title class="sub-header">Are you sure you want to delete selected intent?</v-card-title>
        <v-card-actions>
          <v-btn center color="info" @click.stop="dialog = false">Yes</v-btn>
          <v-btn center color="error" @click.stop="dialog = false">No</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</v-container>
</template>

<script>
import axios from 'axios'
import config from '../../config'

export default {
  data () {
    return {
      max25chars: (v) => v.length <= 25 || 'Input too long!',
      tmp: '',
      search: '',
      dialog: false,
      pagination: {},
      headers: [
        {text: 'Name', value: 'name', align: 'left'},
        {text: 'Edit', value: 'edit', align: 'left', sortable: false}
      ],
      intentList: {

      },
      items: []
    }
  },
  methods: {
    editAction: function (index) {
      this.$router.push({ name: 'CreateIntent', params: {intentParam: this.intentList[index], intentList: this.intentList, intentIndex: index} })
    },
    addAction: function () {
      this.$router.push({ name: 'CreateIntent', params: {intentList: this.intentList} })
    }
  },
  created () {
    axios({method: 'GET',
      'url': config.aimlURI,
      data: {},
      headers: {
        'Authorization': 'Bearer ' + config.variableAccessToken,
        'Content-type': 'application/json'
      }
    }).then(response => {
      this.intentList = response.data
      var tempItems = []
      this.intentList.forEach(function (value) {
        tempItems.push({name: value.expressionItems[0].name, id: value.id})
      })
      this.items = tempItems
    }).catch(error => {
      console.log(error)
      console.log(error.response)
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.card--flex-toolbar {
  margin-top: -64px;
}
</style>
