<template>
<v-container fluid>
  <h1>User Says </h1>
    <v-layout row>
      <v-flex xs20>
        <v-text-field box
          name="input-1"
          label="Add user expression"
          id="testing"
          v-model="expression"
          ref="expressionField">
        </v-text-field>
      </v-flex>
      <v-btn icon top v-on:click="addUserExpression">
        <v-icon>add</v-icon>
      </v-btn>
    </v-layout>
     <v-spacer></v-spacer>
     <v-toolbar color="white" light dense>
        <v-spacer></v-spacer>
        <v-text-field
          append-icon="search"
          label="Search"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-toolbar>
   <v-data-table
       v-bind:headers="headers"
       v-bind:search="search"
       :items="items"
       hide-actions
       hide-headers
       class="elevation-1">
     <template slot="items" slot-scope="props">
       <td class="text-xs-left">{{props.item.name}}</td>
       <td>
         <v-btn icon ripple v-on:click="deleteUserExpression(props.item.name)">
           <v-icon color="grey lighten-1">delete</v-icon>
         </v-btn>
       </td>
     </template>
   </v-data-table>
</v-container>
</template>

<script>
export default {
  data () {
    return {
      max25chars: (v) => v.length <= 25 || 'Input too long!',
      tmp: '',
      expression: '',
      search: '',
      pagination: {},
      headers: [
        {text: 'Variable', value: 'name', align: 'left'},
        {text: 'Delete', value: 'delete', align: 'left', sortable: false}
      ],
      items: []
    }
  },
  created () {
    var tempArr = []
    this.$parent.intent.expressionItems.forEach(function (value) {
      tempArr.push({name: value.name})
    })
    this.items = tempArr
  },
  methods: {
    addUserExpression: function () {
      if (this.expression) {
        this.items.push({name: this.expression})
        this.$parent.intent.expressionItems.push({name: this.expression})
      }
      this.$refs.expressionField.reset()
    },
    deleteUserExpression: function (name) {
      let i
      this.items.forEach((row, index) => {
        if (row.name === name) {
          i = index
        }
      })
      this.items.splice(i, 1)
      this.$parent.intent.expressionItems.splice(i, 1)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.card--flex-toolbar {
  margin-top: -64px;
}
</style>
