<template>
<v-container fluid>
  <h1>Responsive UI</h1>
  <v-layout row>
  </v-layout>
     <v-spacer></v-spacer>
     <v-toolbar color="white" light dense>
       <v-btn icon @click.stop="dialog = true">
         <v-icon>add</v-icon>
       </v-btn>
        <v-spacer></v-spacer>
      </v-toolbar>
   <v-data-table
       v-bind:headers="headers"
       v-bind:search="search"
       :items="items"
       hide-actions
       hide-headers
       class="elevation-1">
     <template slot="items" slot-scope="props">
     <td class="text-xs-left">{{ props.item.name }}</td>
     <td>
       <v-btn icon ripple v-on:click="editQuickResponse(props.index)">
         <v-icon color="grey lighten-1">edit</v-icon>
       </v-btn>
     </td>
     </template>
   </v-data-table>

   <v-dialog v-model="dialog" max-width="1000px">
       <v-toolbar dark color="info">
          <v-btn icon @click.native="dialog = false" dark>
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Add Quick Response</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card>
          <v-card-title>

          </v-card-title>
          <v-card-text>
            <v-layout row>
              <v-flex xs20>
                <v-text-field
                  label="Response Question"
                  single-line
                  hide-details
                  v-model="responsequestion"
                  id="responsequestion"
                  @keyup.50="openDynamicVariable('responsequestion')"
                  ref="valueField">
                </v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-text>
            <v-layout row>
              <v-btn color="info" @click.stop="addNewElement">Add Element</v-btn>
            </v-layout>
         </v-card-text>

         <v-container v-for="(element, index) in elements" fluid grid-list-md>
            <v-layout row wrap>
              <v-flex xs20>
                <v-text-field
                  label="Button Name"
                  v-model="element.title">
                </v-text-field>
              </v-flex>
              <v-btn color="error" v-on:click="removeElement(index)">Remove</v-btn>
            </v-layout>
        </v-container>

        <v-dialog v-model="dialogDynamicVariable" max-width="1000px">
             <v-card>
               <v-card-title>
                 Select Variable
               </v-card-title>
               <IntentVariableBuiltIn  @interface="handleAfterBackDynamicVariable"/>
             <v-card-actions>
               <v-btn color="primary" flat @click.stop="dialogDynamicVariable=false">Close</v-btn>
               </v-card-actions>
             </v-card>
        </v-dialog>
        <v-card-actions>
          <v-btn color="info" v-on:click="save()">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
</v-container>
</template>

<script>
import IntentVariableBuiltIn from './IntentVariableBuiltIn'
import Vue from 'vue'
export default {
  data () {
    return {
      max25chars: (v) => v.length <= 25 || 'Input too long!',
      tmp: '',
      response: '',
      dialog: false,
      dialogDynamicVariable: false,
      search: '',
      pagination: {},
      field: '',
      currentPosition: 0,
      responsequestion: '',
      headers: [
        {text: 'Variable', value: 'name', align: 'left'},
        {text: 'Delete', value: 'delete', align: 'left', sortable: false}
      ],
      items: [],
      elements: [],
      element: {
        content_type: '',
        payload: '',
        title: ''
      },
    }
  },
  created () {
    var tempArr = []
    this.$parent.intent.quickResponseItems.forEach(function (value) {
      tempArr.push({name: value.text, elements: value.elements})
    })
    this.items = tempArr
  },
  components: {
    IntentVariableBuiltIn
  },
  methods: {
    addNewElement: function () {
      this.elements.push(Vue.util.extend({}, this.element))
    },
    removeElement: function (index) {
      Vue.delete(this.elements, index)
    },
    editQuickResponse: function (index) {
      this.responsequestion = this.items[index].name
      this.elements = this.items[index].elements
      this.dialog = true
    },
    save: function () {
      this.items = []
      this.$parent.intent.quickResponseItems = []
      this.items.push ({name: this.responsequestion, elements: this.elements})
      this.$parent.intent.quickResponseItems.push({ text: this.responsequestion, elements: this.elements})
      this.dialog = false
    },
    handleAfterBackDynamicVariable: function (event) {
      this.dialogDynamicVariable = false
      var a = this.field
      var output = this[a].substr(0, this.currentPosition) + event + this[a].substr(this.currentPosition);
      this[a] = output
    },
    openDynamicVariable: function (name) {
      this.field = name
      this.currentPosition = document.getElementById(name).selectionStart
      this.dialogDynamicVariable = true
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.card--flex-toolbar {
  margin-top: -64px;
}
</style>
